<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" style="font-size: 1.5rem;">

    <b class="text-light nav-link active navbar-nav"  style="font-size: 1.8rem;">Reif News</b>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav float-end ml-auto">
      <li class="nav-item active" style="margin-right:
      3rem">
        <a class="nav-link" routerLink="/views" routerLinkActive="active">News</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/views/add" routerLinkActive="active">Add News</a>
      </li>
    </ul>
  </div>
</nav>
